.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
/* this is left side of header containing header scribbler and subheading*/
.left{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    text-align: left;
}
.subheading{
  font-family: 'Courier New', Courier, monospace;
  margin-left:10px;
  font-size: .8em;
  font-weight: bold;

}

/*Scribbler*/

.logo{
    font-family: 'Montez', cursive;
    font-size: 2em;
    color: blue;
    margin-left:-30%;
}
/* signin signup buttons*/

.containers {
    display: flex;
  }
  
  .signup button,
  .signin button {
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    background-color: blue;
    color: white;
    border-top:2px solid rgb(179, 179, 179);
    border-left :2px solid rgb(179, 179, 179);
    border-right :2px solid grey;
    border-bottom :2px solid grey;    
    padding: 10px 20px;
    margin-right: 10px;
    margin-top:0px; 
      
  }
  
  .signin button {
    margin-left: 10px;
  }
  
/*  Sign Up Form  */
  /* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgba(0, 0, 0, 0.6); /* Black w/ opacity */
    transition: opacity 0.3s ease;
    opacity: 1;
  }

   /* Modal Content/Box */
   .modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 30%; 
    font-family: 'Century Gothic';
    margin-top :50px;
  }

  .get-started{
    font-size:25px;
    color:grey;
 }

 .close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close i:hover,
.close i:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.top{
  margin : 8px 5px;
}
.rounded{
border-radius: 5px;
}

.modal-content form{
  display:grid;
  margin-top:10px;
  margin-left: 5px;
  margin-right: 5px;
  font-size:18px;

 }
 .modal-content form label{
   margin-top:10px;
 }
 .modal-content form input{
   margin-top:7px;
   padding:10px;
   border:none;
   background-color:#f3efef;
   font-size: 15px;
   box-sizing: border-box;
 }
/* this will remove the outline */
input:focus {
  outline: none;
}

 .modal-content form button{
   margin:23px 0px;
   height:40px;
   border:none;
   font-weight: bold;
   color:white;
   cursor:pointer;
   background-color: #40b740;
 }
 .modal-content form button:hover{
   background-color: green;

  }

 
/*  Sign In Form  */
 /* Hidden by default */ 
.modals {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgba(0, 0, 0, 0.6); /* Black w/ opacity */
    transition: opacity 0.3s ease;
    opacity: 1;
  }
  
  .modal-contents {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 30%; 
    font-family: 'Century Gothic';
    margin-top :10%;
  }

  
  .welcome-back{
    font-size:25px;
    color:grey;
 }
 
  .close-btn {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close-btn i:hover,
  .close-btn i:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }
  
  .modal-contents form{
    display:grid;
    margin-top:10px;
    margin-left: 5px;
    margin-right: 5px;
    font-size:18px;
 
   }
   .modal-contents form label{
     margin-top:10px;
   }
   .modal-contents form input{
     margin-top:7px;
     padding:10px;
     border:none;
     border-radius: 0px;
     background-color:#f3efef;
     font-size: 15px;
   }
 
   
 .modal-contents form button{
     margin:23px 0px;
     margin-bottom: 15px;
     height:40px;
     border:none;
     font-weight: bold;
     color:white;
     cursor: pointer;
     background-color: #40b740;
   }  
   .modal-contents form button:hover{
    background-color: green;

   }

 .not-member{
  font-size:15px;
  font-weight: bold;
  text-align: center;
  margin-bottom:10px;
 }

 .not-member a{
  text-decoration: none;
  color:blue;
  }

.not-member a:hover{
  text-decoration: none;
  color:rgb(113, 113, 255);
  }


