 body{
    background-image: url("../images/background.jpg"); /* setting background image */
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position:center center;
  }

  /*  Post Buttons  */
 .post{
  display: flex;
    justify-content: center;
    height: 70vh;
    align-items: center;
 }
 
 .post div button{
  margin:10px;
  padding:10px 25px;
  height:45px;
  background-color:orange;  
  border-top:2px solid rgb(179, 179, 179);
  border-left :2px solid rgb(179, 179, 179);
  border-right :2px solid grey;
  border-bottom :2px solid grey;
  cursor: pointer;
 }


/*create post form*/
 /* Hidden by default */ 

.createPost {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgba(0, 0, 0, 0.6); /* Black w/ opacity */
  transition: opacity 0.3s ease;
  opacity: 1;
  pointer-events: auto;
}



/* Modal Content/Box */
.modalContent {
  background-color: #fefefe;
  margin: auto;
  padding: 15px;
  border: 1px solid #888;
  width: 80%; 
  font-family: 'Century Gothic';
  margin-top :30px;
}

.title{
   font-size:25px;
   color:grey;
}

.close-button {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close-button i:hover,
.close-button i:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.modalContent .top{
  margin : 8px 5px;
} 

.modalContent .rounded{
border-radius: 5px;
} 

.modalContent form{
 display:grid;
 margin-top:10px;
 margin-left: 5px;
 margin-right: 5px;
 font-size:18px;

}
.modalContent form label{
  margin-top:15px;
}
.modalContent form input,
.modalContent form textarea{
  margin-top:7px;
  padding:10px;
  border:none;
  border-radius: 0px;
  background-color:#f3efef;
  font-size: 15px;
}

.modalContent form input:focus,
.modalContent form textarea:focus{
  outline: none;
}
.modalContent form button{
  margin:15px 0px;
  height:35px;
  width:12%;
  border:none;
  font-weight: bold;
  color:white;
  cursor:pointer;
  background-color: #40b740;
  margin-inline:auto;
}
.modalContent form button:hover{
  background-color: green;

 }


  /* Setting color change for cross icon */ 

 .icon {
  color: #6e6e6e;
  transition: color 0.3s ease;
}

.icon:hover {
  color:#0f0f0f;
}
  /* Setting border in case details not filled as per requirement */ 


.error {
  border: 2px solid red !important;
}