body{
    background-color:#ffeedd;
}


  /*post list*/
.main{
    margin-top: 20px;
    margin-left:100px;
    font-family: 'system-ui';
}

  /* styling post */
.container{
     border-radius:10px;
     background: #fff;
     display:inline-flex;
     width:42%;
     height:23vh;
     box-shadow: 2px 2px 7px rgba(0, 0, 0, 0.3);
     margin:10px;
     margin-right:65px;
     margin-top:7px;
    overflow: hidden;
    position: relative;
  }

  .container:hover{
    box-shadow: 3px 3px 15px rgba(0, 0, 0, 0.3);

 }

   /* author name */
  .left-side{
    padding:10px;
  }
  .left-side p{
  color:rgb(97, 97, 97);
  text-align: center;
  font-weight: bold;
  transform: translate(1px,18px);
  font-size: 17px;

  }
  
.right-side{
    background-color: #f3efef;
}

 /* title */
.title{
    display: flex;
    margin-left:10px;

}

.title p{
    color:rgb(146, 144, 144);
    margin :10px 10px 12px 0px ;
    padding-right:20px;
    font-size: 17px;
    font-weight: 500;

  }

  /* delete button  */
  .title .icon{
   margin:5px 15px 15px 0px;
   padding:10px;
   font-size: 15px;
   position: absolute;
   top: 0;
   right: 0;
   cursor: pointer;
   color: rgb(133, 131, 131); ;
   
   
   
  }
.bottom{
    display: flex;
    margin-bottom:30px;
}

  /* post content */
.bottom .content p{
    color:black;
    margin:0px 25px 10px 10px;
    padding-bottom:10px;
    font-size: 15px;
  }

   /* three dots button  */
.bottom .icon{
    position: absolute;
    bottom: 5px;
    right: 15px;
    font-size: 20px;
    color: rgb(133, 131, 131); 
    cursor: pointer;

}
.icon:hover{
    color: rgb(53, 53, 53); 

}
.center-container {
  top: 50%;
  left: 43%;   /* not 50% because already have margin of container class */
  transform: translate(-50%, 0%);
}

  /* if any one post is deleted last post class changes to this */
.center-container-margin-change {
  margin-right: 65px;
  margin-left:10px;
}

  /*warning modal  */

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  display: none;
}

.mod {
  background-color: white;
  border: 1px solid black;
  padding: 15px 20px 20px 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
.mod p{
  margin-bottom:30px;
  margin-top:0px;

}

.modal-buttons {
  margin-top: 10px;
}

  /* yes button  */
.btn-yes {
  background-color: green;
  color: white;
  padding: 10px 35px;
  margin-right: 160px;
  border:none;
  margin-bottom:10px;
}

  /* no button  */
.btn-no {
  background-color: red;
  color: white;
  padding: 10px 35px;
  border:none;

}

.show {
  display: block;
}

